{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
<link href="{% static 'css/about.css'  %}" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<section>
	<div class="aboutus-section" style="margin-top:-80px;margin-bottom:-80px">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-xl-4 col-md-6 col-sm-6   bg-light">
					<div class="aboutus">
						<h6 class="aboutus-title">About Us</h6>
						<p class="aboutus-text text-left">We at Annaeem Store are into selling, packaging, distribution of prophetic herbs and the likes, hijamah therapy and rendering consultancy services on prophetic medicine. We are committed to ensure that our highly esteemed customers get 100% original and unadulterated prophetic herbs. </p>
						
						<div style="padding-bottom:20px;"><a class="aboutus-more text-lowercase"  href="{% url 'home' %}">visit store</a></div>
					</div>
				</div>


				<div class="col-lg-8 col-lg-8 col-md-6 col-sm-6   bg-dark ">
					<div class="section-title  text-white">
						<h3>Annaeem Store</h3>
					
					</div>
					<div class="enroll-list text-white">
						<div class="enroll-list-item">
							<span>1</span>
							<h5>Prophetic Herbs</h5>
							<p>These are the medicinal ingredients used, prescribed and approved by the prophet (saw) for the prevention, cure and rehabilitation purposes. They include seeds, nuts, fruits, leaves, oils, waters etc. They are numerous and abundant. </p>
						</div>
						<div class="enroll-list-item">
							<span>2</span>
							<h5>Examples </h5>
							<p>Olive oil (Zaytuun), Blackseed (Habatu Saudau), Honey (Asal), Henna, Zamzam, Vinegar (Khal), Cinnamon (Qurfat), Chamomile (Al-Babunaj), Cress (Habatu Rashaad ), Saffron (Zafron), Fig (Tiin), Rose (Wardi), Garlic (Thaom), Ginger (Zanjabil), Anise (Yansuun), Mustard seed (Khardal), Frankinsence (Luban Dhakar), Musk (Misk), Fenugreek (Hulba), etc.</p>
						</div>
						<div class="enroll-list-item">
							<span>3</span>
							<h5>Review</h5>
							<p>Your satisfaction is our  utmost concern...</p>
						</div>
					</div>
				</div>
		



			</div>



			
</section>

{% endblock %}