{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
		<!-- =============== SECTION 1 =============== -->
	<section class="padding-bottom" style="margin-top: 20px;">
		

		<div class="card card-home-category">
			<div class="row no-gutters">
				 <!-- col.// -->
				
					<ul class="row no-gutters bordered-cols">

                        <li class="col-6 col-lg-3 col-md-4">
							<div class="item">
								<div class="card-body">
									<a href="#">
										<h6 class="title">Short items name and description</h6>
									</a>
									<img class="img-sm float-right" src="{% static 'img/sidru.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
										<a href=""><i class="fa fa-heart"></i> </a href="">
									</figcaption>

								</div>
							</div>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru2.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru2.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru2.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru2.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>

								</div>
							</a>
						</li>
						<li class="col-6 col-lg-3 col-md-4">
							<a href="#" class="item">
								<div class="card-body">
									<h6 class="title">Short items name and description </h6>
									<img class="img-sm float-right" src="{% static 'img/sidru.jpg' %}">
									<p class="text-muted"><i class="fa fa-star"></i> 1kg <span
											class="badge badge-success">In Stock</span></p>
									<figcaption class="info-wrap">

										<div class="price mt-1 text-warning">#3,000</div> <!-- price-wrap.// -->
									</figcaption>
								</div>
							</a>
						</li>
					</ul>
				
			</div> <!-- row.// -->
		</div> <!-- card.// -->
	</section>
	

</div>
<!-- container end.// -->

<!-- ========================= SECTION SUBSCRIBE  ========================= -->

<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
{% endblock %}