{% extends "base.html" %}

{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN  ========================= -->
<section class="container course-mission-area" style="margin-bottom: 10px;margin-top: 10px">
	<h4 class="m-t-3 m-b-none text-center text-warning">Frequently Asked Questions</h4>
	<div class="row text-left ">
		<div class="col-lg-4 col-md-6 col-xl-6 col-sm-12 col-xs-12">
			<div id="accordion" class="accordion">
				

				<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
					<a class="card-title">
					<h6> 1. Are the prophetic herbs effective? *Benefits of Prophetic Medicine*</h6>
					</a>
				</div>
				<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
					<p>They are highly effective as they are blessed by Allaah, natural and have composite functions.
					</p>
				</div>

				<div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
					<a class="card-title">
					<h6>2. Does Annaeem Store do home delivery?</h6></h6>
					</a>
				</div>
				<div id="collapse2" class="card-body collapse" data-parent="#accordion" >
					<p>Yes, we do.
					</p>
				</div>

				<div class="card-header collapsed" data-toggle="collapse" href="#collapsepay">
					<a class="card-title">
					<h6>3. How do I make payments? </h6>
					</a>
				</div>
				<div id="collapsepay" class="card-body collapse" data-parent="#accordion" >
					<p>You can either make payments online when checking out or do a
						bank transfer to our account.
					</p>
				</div>
				<div class="card-header collapsed" data-toggle="collapse" href="#collapseser">
					<a class="card-title">
					<h6>4. What other services does Annaeem Store render apart from selling these herbs?  </h6>
					</a>
				</div>
				<div id="collapseser" class="card-body collapse" data-parent="#accordion" >
					<p>Apart from selling and distribution of prophetic herbs and the likes, we are also prophetic medicine practitioner, hijamah therapist among others.
					</p>
				</div>

				<div class="card-header collapsed" data-toggle="collapse" href="#collapseava">
					<a class="card-title">
					<h6>5. Are the prophetic herbs readily available in your store at all time? </h6>
					</a>
				</div>
				<div id="collapseava" class="card-body collapse" data-parent="#accordion" >
					<p>They are readily available in small pieces for the end users and in bulks for the retailers.
					</p>
				</div>
				<div class="card-header collapsed" data-toggle="collapse" href="#collapsecos">
					<a class="card-title">
					<h6>6. Are they not costly? </h6>
					</a>
				</div>
				<div id="collapsecos" class="card-body collapse" data-parent="#accordion" >
					<p>They are affordable and less costly compared to synthetic drugs
					</p>
				</div>
				<div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
					<a class="card-title">
					<h6>7. Does Annaeem Store do hijamah therapy? </h6>
					</a>
				</div>
				<div id="collapse5" class="card-body collapse" data-parent="#accordion" >
					<p>Yes, we do.
					</p>
				</div>
				<div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
					<a class="card-title">
					<h6>8. Does Annaeem Store do Ruqyah therapy? </h6>
					</a>
				</div>
				<div id="collapse6" class="card-body collapse" data-parent="#accordion" >
					<p>No, we don't except on emergency issues.
					</p>
				</div>		
			</div>
		</div>

		<div class="col">
			
			<div class="card-banner banner-quote overlay-gradient"
					style="background-image: url('img/slide1s.jpg');">
					<div class="card-img-overlay white text-left">
						<h3 class="card-title">Find Not An Answer To Your Question?</h3>
						<p class="card-text text-left align-left" style="max-width: 400px">Click the botton below to talk to one of our representatives.</p>
						<a href="" class="btn text-center btn-primary rounded-pill">Contact</a>
					</div>
				</div>
		</div>
	</div>    

</section>
<!-- End course-mission Area -->

<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
{% endblock %}