{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class='d-flex justify-content-center' style="margin-top:15px; margin-bottom:15px;">
<div class='col-sm-6 col-sm-offset-3'>
<div class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Hey sorry about that!</h4>
  <p  class='text-center'>{% trans "Account activation failed" %}</p>
  <hr>
  <p class="mb-0">You seem to be using a wrong activation link. Or someone else use the one provided.</p>
</div>
</div>
</div>

{% endblock %}


<p></p>