{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='d-flex justify-content-center' style="margin-top:15px; margin-bottom:15px;">
<div class='col-sm-6 col-sm-offset-3'>
<div class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">You are about to reset your password!</h4>
  <p  class='text-center'>{% trans "Email with password reset instructions has been sent if an account exist for this address." %}</p>
  <hr>
  <p class="mb-0">Kindly follow the link in the <strong>received mail</strong> to reset your password.</p>
</div>
</div>
</div>
{% endblock %}
