{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

{% if validlink %}

<form method="post" action=".">
<div class='d-flex justify-content-center' style="margin-top:15px; margin-bottom:15px;">
	<div class='col-sm-6 col-sm-offset-3'>
		<h3 class='text-center'>Password Reset</h3>
  {% csrf_token %} 
  {{ form|crispy }}
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Reset' %}" />
  
 </div>

</div>
</form>

{% else %}

<div class='d-flex justify-content-center' style="margin-top:200px; margin-bottom:200px;">
<div class='col-sm-6 col-sm-offset-3'>
<div class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">{% trans "Password reset failed" %}</h4>
  <p  class='text-center'>{% trans "Kindly use the link received to reset you password." %}</p>
  <hr>
  <p class="mb-0">Check your  <strong>mailbox</strong> to reset your password</p>
</div>
</div>
</div>

{% endif %}

{% endblock %}
