{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<style>
  .help-block{color:red;
              font-weight:bold;
  }
  </style>
<form method="post" action=".">
<div class='d-flex justify-content-center' style="margin-top:20px; margin-bottom:30px;">
	<div class='col-sm-6 col-sm-offset-3'>
		<h3 class='text-center'>Change your password</h3>
		    {% csrf_token %} 
        {{ form|crispy }}

  <input class='btn btn-block rounded-pill btn-primary' type="submit" value="{% trans 'Submit' %}" />
</form>
  </div>
</div>
{% endblock %}
