{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<style>
.help-block{color:red;
            font-weight:bold;
}
</style>

<div class='d-flex justify-content-center' style="margin-top:20px; margin-bottom:30px;">
<div class='col-sm-6 col-sm-offset-3'>
<h3 class='text-center text-warning'>User Registration</h3>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}


  <input class='btn rounded-pill btn-block btn-primary' type="submit" value="{% trans 'Register' %}" />
</form>
</div>
</div>

<hr/>
<div class='row d-flex justify-content-center'>
<div class='col-sm-6 col-sm-offset-3 text-center' style="margin-bottom: 5px;">
<p ><a class="text-warning" href="{% url 'auth_login' %}">Login Instead?</a></p>
</div>
</div>


{% endblock %}
