{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='d-flex justify-content-center' style="margin-top:15px; margin-bottom:15px;">
<div class='col-sm-6 col-sm-offset-3'>
<div class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">Well done! You are almost there.</h4>
  <p  class='text-center'>{% trans "You are now registered. Activation email sent." %}</p>
  <hr>
  <p class="mb-0">Kindly follow the link in the <strong>activation mail</strong> sent to get your account active.</p>
</div>
</div>
</div>


{% endblock %}
